body {
    font-family: "Inter", sans-serif; 
    background-color: rgb(15, 15, 15);
    color: rgba(255, 255, 255, 0.863) !important;
}
header {
    
}
.hooskai{
    font-family:"Hooskai" !important;
}
.main-font-color {
    color: rgba(255, 255, 255, 0.863) !important;
}
.bg-off-white {
    background-color: rgba(255, 255, 255, 0.863) !important;
}
.navbar {
    padding: 40px;
    .navbar-brand {
        line-height: 10px;
        color: rgba(255, 255, 255, 0.863);
    }
    .nav-link.nav-link-55-opa {
        opacity: .55;
    }
    .nav-link.nav-link-25-opa {
        opacity: .25;
    }
}


.bg-block-text {
    letter-spacing:-.4rem;
    padding-left:.8rem;
    padding-right:.8rem;
    background-color:rgba(255,255,255,0.863); 
    border-radius:2px; 
    color: black;
}